<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 routerLink="/">Atlas</h1>
  <span class="empty-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon class="app-menu-button">apps</mat-icon>
  </button>
  <button mat-button>Account</button>
</mat-toolbar>
<mat-menu class="app-menu" #appMenu="matMenu">
  <div class="row">
    <button mat-menu-item routerLink="students">
      <mat-icon>person</mat-icon>
      <div>Students</div>
    </button>
    <button mat-menu-item routerLink="meetings">
      <mat-icon>event</mat-icon>
      <div>Meetings</div>
    </button>
  </div>
</mat-menu>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56"
  >
    <mat-nav-list>
      <a mat-list-item routerLink=""> Home </a>
      <a mat-list-item> Dashboard </a>
      <a mat-list-item> Schedule </a>
      <a mat-list-item> Account </a>
      <a
        mat-list-item
        (click)="$event.preventDefault(); snav.toggle()"
        mat-list-item
        >Close</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
