<mat-toolbar color="primary">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 routerLink="/">MQTT</h1>
  <span class="empty-space"></span>
  <span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>apps</mat-icon>
    </button>
    <button mat-button (click)="logout()">Logout</button>
  </span>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <div class="d-flex">
    <button mat-menu-item class="text-center" routerLink="students">
      <mat-icon class="m-0">person</mat-icon>
      <div>Students</div>
    </button>
    <button mat-menu-item class="text-center" routerLink="meetings">
      <mat-icon class="m-0">event</mat-icon>
      <div>Meetings</div>
    </button>
  </div>
</mat-menu>
